@page "/review"

@using Tesla.Models
@using Tesla.Services

@inject IJSRuntime JSRuntime;
@inject Tesla.Business.Services.IReviewService service

<h3>Review</h3>

<EditForm Model="@model" OnValidSubmit="@AddReview">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label for="content">Review: </label>
        <InputTextArea class="form-control " rows="3" placeholder="Reivew" 
                      @oninput="UpdateScore" id="content" @bind-Value="model.Content" />
    </p>
    <p>
        <label for="sentiment">Like/Dislike: </label>
        <InputCheckbox class="" id="sentiment" @bind-Value="model.Sentiment" />
    </p>


    <button type="submit" class="btn btn-primary mt-1">Submit</button>
</EditForm>

<HappinessScale Value=@happiness />


@code {

    [Parameter]
    public float happiness { get; set; } = 50;

    private ReviewModel model = new ReviewModel();

    private async Task AddReview()
    {
        var result = await service.Add(model.Content, model.Sentiment);
        model.Content = string.Empty;

        await JSRuntime.InvokeAsync<string>(
            "review.showAlert", "Review added successfully"
            );
    }


    private void UpdateScore(ChangeEventArgs e)
    {
        string targetText = (string)e.Value;

        var score = Sentiment.Predict(targetText).Score;
        happiness = CalculatePercentage(score);
    }

    public float CalculatePercentage(double value)
    {
        return 100 * (1.0f / (1.0f + (float)Math.Exp(-value)));
    }
}
